<div class="border-left">
  <p><%= @question %></p>
  <p class="fst-italic fw-lighter">-You</p>
</div>

<div class="border-left coach-color">
  <p><%= @answer %></p>
  <p class="fst-italic fw-lighter">-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
